@model IAS_Handyman.Models.ServiceRequest

@{
    ViewBag.Title = "Detalle del servicio";
}

<h2>Detalle del servicio</h2>

<div>
    <h4>Servicio # @Model.Id</h4>
    @if (Model.CurrentStatus != null)
    {
        <h4>Estado actual: @Model.CurrentStatus.Name</h4>
    }
    else
    {
        <h4>Estado actual: Generado</h4>
    }

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </dt>

        <dd>
            @Html.Raw(Model.ScheduleDate.ToString("MM/dd/yyyy"))
        </dd>

        <dt>
            @Html.Raw("Tipo de servicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmergencyString)
        </dd>
    </dl>

    <hr />
    <h4>Información del técnico asignado</h4>
    <hr />
    @if (Model.Responsable != null)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => modelItem.Responsable.Identification)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => modelItem.Responsable.Identification)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => modelItem.Responsable.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => modelItem.Responsable.FullName)
            </dd>
        </dl>
    }
    else
    {
        <p>No hay técnico asignado</p>
    }
    <h1></h1>

    <hr />
    <h4>Información de la atención</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        @if (Model.StartDateTime != null)
        {
            <dd>
                @Html.DisplayFor(model => model.StartDateTime.Value)
            </dd>
        }
        else
        {
            <dd>
                @Html.Raw("Sin datos")
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        @if (Model.EndDateTime != null)
        {
            <dd>
                @Html.DisplayFor(model => model.EndDateTime.Value)
            </dd>
        }
        else
        {
            <dd>
                @Html.Raw("Sin datos")
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

    </dl>

    <hr />
    <h4>Información adicional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificationDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterStatusName)
        </dd>
    </dl>
</div>

@if (Model.CurrentStatus == null || Model.CurrentStatus.Id < 2)
{
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Regresar", "Index")
    </p>
}


