@model IEnumerable<IAS_Handyman.Models.ServiceRequest>

@{
    ViewBag.Title = "Lista de servicios";
}

<h2>Servicios agendados</h2>

<p>
    @Html.ActionLink("Agendar servicio", "Create")
</p>
<p><b>Nota:</b> Sólo se podrán eliminar los servicios con estados <b>"Generado"</b> y <b>"Asignado"</b>, los servicios con cualquier otro estado, deberán ser cancelados en caso tal de no realizarse.<br/>Para gestionar o ejecutar un servicio agendado y asignado a un técnico, deberá ingresar a la edición.</p>
<table class="table">
    <tr style="background-color:lightgray">
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>

        <th>
            @Html.Raw("Tipo de servicio")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Responsable)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Code)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.IsEmergencyString)
    </td>

    <td>
        @Html.Raw(item.ScheduleDate.ToString("MM-dd-yyyy"))
    </td>

    @if (item.CurrentStatus != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatus.Name)
        </td>
    }
    else
    {
        <td>
            @Html.Raw("Generado")
        </td>
    }

    @if (item.Responsable != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Responsable.FullName)
        </td>
    }
    else
    {
        <td>
            @Html.Raw("No asignado")
        </td>
    }

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    @if (@item.CurrentStatus == null || item.CurrentStatus.Id <= 2)
    {
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Ver detalle", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
    }
    else // Statuses: 'Ejecutado'/'Cancelado'
    {
        <td>
            @Html.ActionLink("Ver detalle", "Details", new { id = item.Id })
        </td>
    }

</tr>
}

</table>
