@model IEnumerable<IAS_Handyman.Models.WeeklyHoursTechnicianReport>

@{
    ViewBag.Title = "Reporte de horas semanales";
}

<h2>Reporte de horas semanales</h2>
@if (Model != null && Model.Count() > 0)
{
    <input hidden type="number" id="txt_selected_technician_id" value="@Model.First().TechnicianId" />
}
else
{
    <input hidden type="number" id="txt_selected_technician_id" />
}

<table>
    <tr>
        <td>
            <p>Año:</p>
        </td>

        <td>
            <p style="margin-left:5px">Semana:</p>
        </td>

        <td>
            <p style="margin-left:5px">Técnico:</p>
        </td>

        <td></td>

        <td></td>
    </tr>

    <tr>
        <td>
            @if (Model != null && Model.Count() > 0 && Model.First().Year != null)
            {
                <input type="number" id="txt_year" min="1900" max="3000" style="width:80px" class="form-control" value="@Model.First().Year.Value" />
            }
            else
            {
                <input type="number" id="txt_year" min="1900" max="3000" style="width:80px" class="form-control" value="@DateTime.Now.Year" />
            }
        </td>

        <td>
            @if (Model != null && Model.Count() > 0 && Model.First().YearWeek != null)
            {
                <input type="number" id="txt_week" min="1" max="52" style="margin-left:5px; width: 70px" class="form-control" value="@Model.First().YearWeek.Value" />
            }
            else
            {
                <input type="number" id="txt_week" min="1" max="52" style="margin-left:5px; width: 70px" class="form-control" value="1" />
            }

        </td>

        <td>
            <div>
                <table>
                    <tr>
                        <td>
                            @if (Model != null && Model.Count() > 0)
                            {
                                <input id="txt_technician_id" style="margin-left:5px; width: 150px" class="form-control" readonly value="@Model.First().TechnicianIdentification" />
                            }
                            else
                            {
                                <input id="txt_technician_id" style="margin-left:5px; width: 150px" class="form-control" readonly />
                            }
                        </td>

                        <td>
                            @if (Model != null && Model.Count() > 0)
                            {
                                <input id="txt_technician" style="margin-left:5px; width: 280px" class="form-control" readonly value="@Model.First().TechnicianName" />
                            }
                            else
                            {
                                <input id="txt_technician" style="margin-left:5px; width: 280px" class="form-control" readonly />
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <input type="button" class="btn btn-primary" value="Buscar técnico" style="margin-left:5px" onclick="showTechnicianModal()" />
        </td>

        <td>
            <input type="button" class="btn btn-primary" value="Generar reporte" style="margin-left:5px" onclick="generateReport()" />
        </td>
    </tr>
</table>

@if (Model != null && Model.Count() > 0)
{
    if (Model.First().WeekStartDate != null && Model.First().WeekEndDate != null)
    {
        <h4></h4>
        <p><b>Rango de fecha del reporte: </b>@string.Format("Desde {0} hasta {1}", Model.First().WeekStartDate, Model.First().WeekEndDate)</p>
    }
}

@if (ViewBag != null && ViewBag.ErrorMessage != null && !string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <h4></h4>
    <p style="color:red">@ViewBag.ErrorMessage</p>
}

<h1></h1>

<table class="table">
    <tr style="background-color:lightgray">
        <th>
            Horas normales
        </th>

        <th>
            Horas nocturnas
        </th>

        <th>
            Horas dominicales
        </th>

        <th>
            Horas normales (extra)
        </th>

        <th>
            Horas nocturnas (extra)
        </th>

        <th>
            Horas dominicales (extra)
        </th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalHours)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NightHours)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SundayHours)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExtraNormalHours)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExtraNightHours)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExtraSundayHours)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                0
            </td>

            <td>
                0
            </td>

            <td>
                0
            </td>

            <td>
                0
            </td>

            <td>
                0
            </td>

            <td>
                0
            </td>
        </tr>
    }
</table>

<hr />
<h4>Glosario</h4>
<hr />
<p><b>Horas normales:</b> Horas trabajadas de lunes a sábado entre las 7:00 AM y las 8:00 PM</p>
<p><b>Horas nocturnas:</b>  Horas trabajadas de lunes a sábado entre las 8:00 PM y las 7:00 AM</p>
<p><b>Horas dominicales:</b> Horas trabajadas el día domingo</p>
<p><b>Horas extras normales:</b> Horas trabajadas de lunes a sábado entre las 7:00 AM y las 8:00 PM, después de que el técnico ya ha trabajado 48 horas en la semana</p>
<p><b>Horas extras nocturnas:</b> Horas trabajadas de lunes a sábado entre las 8:00 PM y las 7:00 AM, después de que el técnico ya ha trabajado 48 horas en la semana</p>
<p><b>Horas extras dominicales:</b> Horas trabajadas el día domingo, después de que el técnico ya ha trabajado 48 horas en la semana</p>

<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="modalTechnicians" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    function showTechnicianModal() {
        var url = "@Url.Action("GetTechnicians")";

        // Show modal for techincians
        $.get(url, "", function (data) {
            $('.modal-content').html(data);
            $("#modalTechnicians").modal('show');
        });
    }

    function hideTechnicianmodal() {
        $("#modalTechnicians").modal('hide');
        $('.modal-content').html("");
    }

    function selectTechnician(id)
    {
        hideTechnicianmodal();

        var url = "@Url.Action("GetTechnicianData")";

        // Obtains the technician data with register Id
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                var technician_data = data.split("||NAME||");

                if (technician_data != null && technician_data.length > 1)
                {
                    $("#txt_technician_id").val(technician_data[0]);
                    $("#txt_technician").val(technician_data[1]);
                    $("#txt_selected_technician_id").val(id);
                }
            }
        });
    }

    function generateReport() {
        var _week = $("#txt_week").val();
        var _year = $("#txt_year").val();
        var _technician_id = $("#txt_selected_technician_id").val();

        var url = '@Url.Action("WeeklyWorkHoursByTechnician", "ServiceRequests")';

        // The parameters combination is to use the Controller validations and show the corresponding error message
        if (_week != null)
        {
            if (_year != null)
            {
                if (_technician_id != null)
                {
                    url = '@Html.Raw(Url.Action("WeeklyWorkHoursByTechnician", "ServiceRequests", new { year = "__year__", week = "__week__", technicianId = "__technicianId__"}))';
                }
                else
                {
                    url = '@Html.Raw(Url.Action("WeeklyWorkHoursByTechnician", "ServiceRequests", new { year = "__year__", week = "__week__"}))';
                }
            }
            else
            {
                url = '@Html.Raw(Url.Action("WeeklyWorkHoursByTechnician", "ServiceRequests", new { week = "__week__"}))';
            }
        }

        var url_with_params = url.replace('__year__', _year).replace('__week__', _week).replace('__technicianId__', _technician_id);
        window.location.href = url_with_params;
    }
</script>

